<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>«Самоход»</title>
</head>
<body>
<div class="container py-3">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="index.html" class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4">«Самоход»</span>
            </a>

            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="me-3 py-2 text-dark text-decoration-none" href="registration.html">Регистрация</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="login.html">Авторизация</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="orders.html">Мои заказы</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="cart.html">Корзина</a>
            </nav>
        </div>

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Авторизация</h1>
        </div>
    </header>



    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">&copy; 2017–2021</small>
            </div>
        </div>
    </footer>
</div>

</body>
</html>